# Credenciales de InfluxDB
INFLUX_TOKEN=ingrese_aqui_el_token_de_influxdb

# Credenciales de acceso a Grafana
GF_SECURITY_ADMIN_USER=ingrese_usuario_admin
GF_SECURITY_ADMIN_PASSWORD=ingrese_contraseña_admin

# Credenciales de SMTP para alertas por correo
GF_SMTP_USER=correo_emisor@alumnos.iua.edu.ar
GF_SMTP_PASSWORD=ingrese_contraseña_de_aplicacion_gmail
GF_SMTP_FROM_ADDRESS=correo_emisor@alumnos.iua.edu.ar